.invite__friends-list {
  height: 100px;
  width: 100%;
  overflow-y: auto;
}

.invite__item {
  border-bottom: 1px solid #dee2e6;
}

.invite__item-body {
  display: flex;
  justify-content: space-between;
}
