.chat__wrapper.full{
  & .chat__dialogs {
    vertical-align: top;
    display: inline-block;
    width: 25%;
  }
  & .chat__conversation {
    vertical-align: top;
    display: inline-block;
    width: 75%;
  }
}
