@event-border-radius: 20px;

.event__item {
  display: inline-block;
  padding: 0 10px;
  max-width: 100%;

  color: #fff;
  vertical-align: middle;
  background-color: #b797ef;
  border: none;
  border-radius: @event-border-radius;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:focus {
    outline: none;
  }
  &.first-day {
    border-radius: @event-border-radius 0 0 @event-border-radius;
  }

  &.last-day {
    border-radius: 0 @event-border-radius @event-border-radius 0;
  }

  &.first-day.last-day {
    border-radius: @event-border-radius;
  }

  &.event__show-more {

  }
}
