@event-border-radius: 20px;

.event__item {
  width: 100%;
  height: 25px;

  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #b797ef;

  &.first-day {
    border-radius: @event-border-radius 0 0 @event-border-radius;
  }

  &.last-day {
    border-radius: 0 @event-border-radius @event-border-radius 0;
  }

  &.first-day.last-day {
    border-radius: @event-border-radius;
  }
}
